/.idea/
java1.iml
/out/production/java1/CustomScanner.class
/out/production/java1/HelloWorld.class
/out/production/java1/InkrementacjaDekrementacja.class
/out/production/java1/META-INF/java1.kotlin_module
/out/production/java1/OperatoryMatematyczne.class
/out/production/java1/TypyObiektowe.class
/out/production/java1/TypyProste.class
/out/production/java1/Zmienne.class
